@import url(font.css);

:root {
   --Bright-orange: hsl(31, 77%, 52%);
   --Dark-cyan: hsl(184, 100%, 22%);
   --Very-dark-cyan: hsl(179, 100%, 13%);
   /*  (paragraphs) */
   --Transparent-white: hsla(0, 0%, 100%, 0.75);
   /*  (background, headings, buttons) */
   --Very-light-gray: hsl(0, 0%, 95%);
}

*,
html {
   padding: 0;
   margin: 0;
   box-sizing: border-box;


}

body {
   font-size: 15px;
   background: var(--Very-light-gray);


}



.container {

   position: absolute;
   top: 50%;
   left: 50%;

   transform: translate(-50%, -50%);


}

.box {

   display: flex;
   width: 1000px;

   border-radius: 10px;
   overflow: hidden;
}

.box h1 {
   font-family: 'Big Shoulders Display', cursive;
   color: var(--Very-light-gray);
   margin: 2rem 0;
   font-size: 2.5rem;

}

.box p {
   font-family: 'Lexend Deca', sans-serif;
   color: var(--Transparent-white);
   font-size: 1.1rem;

}

.box .col-1 .btn a,
.box .col-2 .btn a,
.box .col-3 .btn a {
   padding: 1.1rem 2.4rem;
   background: var(--Very-light-gray);
   text-decoration: none;
   border-radius: 50px;
   font-weight: 1000;
   font-family: 'Lexend Deca', sans-serif;
   border: 3px solid var(--Very-light-gray);
   transition: all .3s;


}

.box .col-1 .btn a:hover,
.box .col-2 .btn a:hover,
.box .col-3 .btn a:hover {
   border: 3px solid var(--Very-light-gray);
   background: transparent;
   color: var(--Very-light-gray);


}

.btn {
   margin-top: 7rem;
   margin-bottom: 1rem;
}

.box .col-1 a {
   color: var(--Bright-orange);
}

.box .col-2 a {
   color: var(--Dark-cyan);
}

.box .col-3 a {
   color: var(--Very-dark-cyan);
}

.col-1,
.col-2,
.col-3 {
   padding: 3rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.col-1 {
   background: var(--Bright-orange);
}

.col-2 {
   background: var(--Dark-cyan);
}

.col-3 {
   background: var(--Very-dark-cyan);
}


/* Respon */

@media screen and (max-width: 1049px) {
   .box {
      width: 700px;

   }

   .box h1 {


      margin: 2rem 0;
      font-size: 2rem;

   }

   .box p {

      font-size: .8rem;

   }

   .col-1,
   .col-2,
   .col-3 {
      padding: 2rem;

   }

   .box .col-1 .btn a,
   .box .col-2 .btn a,
   .box .col-3 .btn a {
      padding: .5rem 1.5rem;
      font-size: .8rem;
      font-weight: 100 !important;

      border: 1px solid var(--Very-light-gray);



   }

   .box .col-1 .btn a:hover,
   .box .col-2 .btn a:hover,
   .box .col-3 .btn a:hover {


      border: 1px solid var(--Very-light-gray);



   }

   .btn {
      margin-top: 3rem;
      margin-bottom: 1rem;
   }
}


@media screen and (max-width: 729px) {
   .box {

      width: 500px;

   }

   .box h1 {


      margin: 2rem 0;
      font-size: 1.6rem;

   }

   .box p {

      font-size: .65rem;

   }

   .col-1,
   .col-2,
   .col-3 {
      padding: 1.5rem;

   }

   .col-1 .text img,
   .col-2 .text img,
   .col-3 .text img {
      width: 40% !important;

   }


   .box .col-1 .btn a,
   .box .col-2 .btn a,
   .box .col-3 .btn a {
      padding: .5rem 1rem;
      font-size: .6rem;
      font-weight: 100 !important;

      border: 1px solid var(--Very-light-gray);



   }

}

@media screen and (max-width: 523px) {





   .container {
      padding: 2rem 0;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);


   }

   .box {

      width: 300px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;

   }

   .box .col-1,
   .box .col-2,
   .box .col-3 {
      padding: 3rem;
   }

   .box h1 {


      margin: 2rem 0;
      font-size: 2rem;

   }

   .box p {

      font-size: .9rem;

   }

   .col-1 .text img,
   .col-2 .text img,
   .col-3 .text img {
      width: 40% !important;

   }


   .box .col-1 .btn a,
   .box .col-2 .btn a,
   .box .col-3 .btn a {
      padding: .6rem 2rem;
      font-size: .9rem;
      font-weight: 100 !important;

      border: 1px solid var(--Very-light-gray);



   }
}